<div class="container" style="color: white">
  <h1>Tic Tac Toe</h1>

  <div (click)="onClick(0)" class="box">{{boxValue[0]}}</div>
  <div (click)="onClick(1)" class="box">{{boxValue[1]}}</div>
  <div (click)="onClick(2)" class="box">{{boxValue[2]}}</div>
  <div (click)="onClick(3)" class="box">{{boxValue[3]}}</div>
  <div (click)="onClick(4)" class="box">{{boxValue[4]}}</div>
  <div (click)="onClick(5)" class="box">{{boxValue[5]}}</div>
  <div (click)="onClick(6)" class="box">{{boxValue[6]}}</div>
  <div (click)="onClick(7)" class="box">{{boxValue[7]}}</div>
  <div (click)="onClick(8)" class="box">{{boxValue[8]}}</div>

</div>
